body{
    margin: 0px;
    width: 100%;
    height: 100vh;
    display: grid;
    place-items:center;
    counter-reset:game;
}


.phone{
    position:relative;
    border: 8px solid black;
    border-radius: 40px;
    height: 600px;
    width: 300px;
    background: #CCEFFF;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22),;
}

.layer-1 {
    position: absolute;
    z-index: 1;
    height: 469px;
    width: 80px;
    right: 58px;
    bottom: 13px;
    animation-name: layer;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes layer {
    0%{
        bottom: 13px;
    }
    25%{
        bottom: -80px;
    }
    100%{
        bottom: 13px;
    }

}

.layer-1 input[type=checkbox]{          /**/
appearance: none;
cursor: pointer;
height:50%;
margin: 0px;
position: relative;
top:0px;
width: 80px;
z-index: 2;
}

.layer-2 input[type=checkbox]{          /**/
    appearance: none;
    cursor: pointer;
    height:50%;
    margin: 0px;
    position: relative;
    top:0px;
    width: 80px;
    z-index: 2;
    }

    .layer-4 input[type=checkbox]{          /**/
        appearance: none;
        cursor: pointer;
        height:50%;
        margin: 0px;
        position: relative;
        top:0px;
        width: 80px;
        z-index: 2;
        }
    .layer-6 input[type=checkbox]{          /**/
        appearance: none;
        cursor: pointer;
        height:50%;
        margin: 0px;
        position: relative;
        top:0px;
        width: 80px;
        z-index: 2;
        }

input[type=checkbox]:focus{
    appearance: none;
    outline:none;
}
.count::before{
    content:counter(game);
}

.score::after{
    content: counter(score);
}


.layer-2{
    position: absolute;
    z-index: 2;
    height: 469px;
    width: 80px;
    bottom: 0px;
    left: 59px;
    animation-name: layer2;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
@keyframes layer2 {
    0%{
        bottom: 13px;
    }
    25%{
        bottom: -80px;
    }
    100%{
        bottom: 13px;
    }
}
.layer-3{
    position: absolute;
    z-index: 3;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    width: 220px;
    height: 400px;
    background-color: green;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    bottom: 0px;
    box-shadow: 0 1px 8px rgba( 1, 1, 1.0);
    transform: translateY(-1px);
    transition: transform 0.3s ease-in-out;
}
.layer-4{
    position: absolute;
    z-index: 4;
    height: 376px;
    width: 80px;
    bottom: 0px;
    left: 69px;
    animation-name: layer4;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
@keyframes layer4 {
    0%{
        bottom: 13px;
    }
    25%{
        bottom: -80px;
    }
    100%{
        bottom: 13px;
    }
}
.layer-5{
    position: absolute;
    z-index: 5;
    left: 0px;
    right: 80px;
    margin: 0 auto;
    width: 220px;
    height: 310px;
    background-color: green;
    bottom: 0px;
    border-bottom-left-radius: 32px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0 1px 8px rgba( 1, 1, 1.0);
    transform: translateY(-1px);
    transition: transform 0.3s ease-in-out;
}

.layer-6{
    position: absolute;
    z-index: 6;
    height: 291px;
    width: 80px;
    right: 55px;
    bottom: 0px;
    animation-name: layer6;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
@keyframes layer6 {
    0%{
        bottom: 13px;
    }
    25%{
        bottom: -80px;
    }
    100%{
        bottom: 13px;
    }
}
.layer-7{
    position: absolute;
    z-index: 7;
    left: 99px;
    right: 0px;
    margin: 0 auto;
    width: 200px;
    height: 225px;
    background-color: green;
    bottom: 0px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 30px;
    box-shadow: 0 1px 8px rgba( 1, 1, 1.0);
    transform: translateY(-1px);
    transition: transform 0.3s ease-in-out;
}
.layer-8{
    position: absolute;
    z-index: 8;
}
.layer-9{
    position: absolute;
    z-index: 9;
}

.layer-10{
    position: absolute;
    z-index: 10;
}
/* 1er conejitos*/

.left-ear--outer{
    background: white;
    border-radius: 90%;
    width: 15px;
    height: 45px;
    position: absolute;
    left: 13px;
    top: 16px;
}
.left-ear--inter{
    background: #e17eb2;
    border-radius: 100%;
    width: 8px;
    height: 50px;
    position: absolute;
    left: 17px;
    top: 22px;
}
.right-ear--outer{
    background: white;
    border-radius: 90%;
    width: 15px;
    height: 45px;
    position: absolute;
    left: 53px;
    top: 16px;
}
.right-ear--inter{
    background: #e17eb2;
    border-radius: 100%;
    width: 8px;
    height: 50px;
    position: absolute;
    left: 56px;
    top: 22px;
}
.head{
    background: white;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    position: absolute;
    left: 10px;
    top: 41px;
}
.head_eye--left {
    left: 15px;
}
.head_eye--right {
    left: 35px;
}

.head__eye{
    top: 18px;
    border-radius: 5px;
    position: absolute;
    background: black;
    width: 6px;
    height: 6px;
    animation: blink;
    animation-duration: 2s;
    animation-iteration-count: infinite;
 
}

@keyframes blink{
    0%{
        height: 6px;
    }
    5%{
        transform: translate(0px, 2px);
        height: 1px;
    }
  10%{
        height: 6px;
        transform: translate(0px, 0px);
    }
}


/* Murito  layer3 layer5 layer7*/
.muro3{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    height: 100vh;
}

.zigzag3 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 18vh;
    background: #8c6750;
    top: 13%;
  }
  .zigzag3::before {
    position: absolute;
    top: -15px;
    width: 100%;
    height: 15px;
    background-image: linear-gradient(45deg, #8c6750 50%, transparent 50%),
                linear-gradient(-45deg, #8c6750 50%, transparent 50%);
    background-size: 30px 30px;
    content: '';
  }

  .muro5{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    height: 100vh;
}

.zigzag5 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 12vh;
    background: #8c6750;
    top: 16%;
}

  .zigzag5::before {
    position: absolute;
    top: -15px;
    width: 100%;
    height: 15px;
    background-image: linear-gradient(45deg, #8c6750 50%, transparent 50%),
                linear-gradient(-45deg, #8c6750 50%, transparent 50%);
    background-size: 30px 30px;
    content: '';
  }
  .muro7{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    height: 100vh;
}

.zigzag7 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 8vh;
    background: #8c6750;
    top: 22%;
  }
  .zigzag7::before {
    position: absolute;
    top: -15px;
    width: 100%;
    height: 15px;
    background-image: linear-gradient(45deg, #8c6750 50%, transparent 50%),
                linear-gradient(-45deg, #8c6750 50%, transparent 50%);
    background-size: 30px 30px;
    content: '';
  }


/* nueves */
#cloud:after {
	width: 100px; 
    height: 100px;
	top: -50px; 
    left: 50px;
	border-radius: 100px;
}
#cloud:before {
    width: 137px;
    height: 161px;
    top: -90px;
    right: 50px;
    border-radius: 200px;
}
#cloud:after, #cloud:before {
	content: '';
	position: absolute;
	background: #FFF;
	z-index: -1}
#cloud {
    width: 306px;
    height: 82px;
    background: #BFF;
    background: -webkit-linear-gradient(top, #FFF 1%, #BFF 100%);
    top: 299px;
    left: -3px;
    border-radius: 100px;
    position: absolute;
    margin: 120px auto 20px;
}
	

/*arbusto */
#cloud1:before {
    width: 70px;
    height: 91px;
    top: -33px;
    right: -1px;
    border-radius: 200px;}
#cloud1:after, #cloud1:before {
	content: '';
    position: absolute;
    background: green;
    z-index: -1;}
#cloud1 {
    width: 104px;
    height: 58px;
    background: green;
    top: 323px;
    left: 197px;
    border-radius: 100px;
    position: absolute;
    margin: 120px auto 20px 
}


/**/
#cloud2:before {
    width: 85px;
    height: 100px;
    top: -41px;
    right: 39px;
    border-radius: 200px;}

#cloud2:after, #cloud2:before {
	content: '';
    position: absolute;
    background: green;
    z-index: -1;}
#cloud2 {
    width: 120px;
    height: 63px;
    background: green;
    top: 320px;
    left: 1px;
    border-radius: 100px;
    position: absolute;
    margin: 120px auto 20px
}
h3{
    font-size: 12px;
    display:block;
    margin-left: 3px;
    margin-right: 3px;

}


